
span.icon_list img {
        float:right;
        height:25px;
        width:25px;
        text-align:center;
}

.inputArea {
    width: auto;
    z-index: 500;
    background-color: #eeeeee;
	border-left: 2px solid #CCCCCC;
	border-bottom: 2px solid #CCCCCC;
	border-right: 2px solid #CCCCCC;
	visibility: hidden;
	display:none;
}


.uiInputHeading {
   width:100%;
   font-weight:bold;
   background-image:url('ui/images/bg-header.png');
   background-repeat:repeat-x;
}

.sectionHeader {
   width:800px;
   height:20px;
   background-image:url('ui/images/bg-header.png');
   background-repeat:repeat-x;
   border-bottom: 1px solid #cccccc;
	font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
	font-weight:bold;
	font-size: 14px;

}

#hd_config_plugin {
}

#hd_config {
}

.hd_pluginPref {
  border: 1px solid green;
  margin-left: 2em;
}


#hd_config label {
color: green;
}

#hd_config label span {
  float:left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-weight:bold;
  color: white;
  padding-right: 0.5em;
  border: 1px solid black;
  background: blue;
}

#hd_config div.breaker {
  clear: both;
}


/* ids */
#menuBar {
   width:800px;
   height:30px;
   background-image:url('ui/images/bg-menu.png');
   background-repeat:repeat-x;
   border: 1px solid gray;

}



#menuBar span {
    padding:0px 0px 0px 0px;
}
#menuBar ul {
	list-style: none;
    height:30px;
    padding:0px 0px 0px 0px;
    margin-top:4px;
}

#menuBar li {
    display:inline;
    height:30px;
    padding:0px 0px 0px 0px;
}

#menuBar a {
	width: auto;
	padding: 3px 0px 2px 20px;
	color: black;
	font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
	font-weight:bold;
	text-decoration: none;
}

#menuBar a:hover {
	color: #66cc66;
}



/*
 * Tabs from http://nontroppo.org/test/tab1.html, copyleft license
 */
#tabmenu {
  border-bottom: 2px solid black;
  margin: 12px 0px 0px 0px;
  padding: 0px;
  padding-left: 10px;
}

#tabmenu li {
  display: inline;
  overflow: hidden;
  list-style-type: none;
}

#tabmenu a, a.active {
  color: blue;
  font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
  border: 2px solid black;
  padding: 2px 5px 0px 5px;
  margin: 0;
  text-decoration: none;
}

#tabmenu a.active {
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 3px solid white;
}

#tabmenu a:hover {
  color: blue;
  background: #cccccc;
}

/*
#tabmenu a:visited {
  color: #E8E9BE;
}

#tabmenu a.active:hover {
  background: #ABAD85;
  color: #DEDECF;
}

#content {
  font: 0.9em/1.3em "bitstream vera sans", verdana, sans-serif;
  text-align: justify;
  background: #ABAD85;
  padding: 20px;
  border: 2px solid black;
  border-top: none;
  z-index: 2;
}

#content a {
  text-decoration: none;
  color: #E8E9BE;
}

#content a:hover {
  background: #898B5E;
}
*/



/* xSplitter Styles */

.xSplitter {
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  margin: 0;
  padding: 0;
  background: #FFF;
  border: none;
}

.xsp-pane, .xsp-toolbar-pane {
  position: absolute;
  overflow: auto;
  visibility: visible;
  margin: 0;
  padding: 0;
  background: #EEE;
  border: none;
}
 
.xsp-toolbar-pane {
   overflow: hidden; 
}


.xsp-dragbar {
  position: absolute;
  overflow: hidden;
  visibility: visible;
  margin: 0;
  padding: 0;
  border: none;
}
/* Cool images! Thanks very much to http://gnuzoo.org/rssreader/test.htm */
.xsp-dragbar-vframe {
  width: 6px;
  height: 8px;
  background-image: url('ui/vframe.png');
  background-repeat: repeat-y;
}
.xsp-dragbar-hframe {
  width: 8px;
  height: 6px;
  background-image: url('ui/hframe.png');
  background-repeat: repeat-x;
}

#xBody {
  /*
  margin: 10px 60px 20px 60px;
  padding: 10px 10px 10px 10px;
  */
  overflow: visible;
  background-color: #FFF;
}

.temp-container { /* replace this with something like xFenster */
  position: relative;
  overflow: visible;
  visibility: visible;
  height: 310px;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
}

#xsp5 {
  border: 8px solid #ddd;
}
#xsp1, #xsp2, #xsp3, #xsp4, #xsp6, #xsp7, #xsp8 {
  border: 2px solid #999;
}

/* iframe support */

.xsp-iframe {
  width: 100%;
  height: 100%;
  border: none;
}
#xsp1-pane1,
#xsp1-pane2,
#xsp2-pane2 {
  overflow: hidden;
  background-color: #fff;
}


